<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478682829293-0o2bskrmlsc96a5asdv6qu0dq5oq7jbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478682829293-0o2bskrmlsc96a5asdv6qu0dq5oq7jbj</string>
	<key>API_KEY</key>
	<string>AIzaSyBMzre1-UgPaCiqqMcbG7gU1HrxZEjdxpc</string>
	<key>GCM_SENDER_ID</key>
	<string>478682829293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saram.Talent-Tracker</string>
	<key>PROJECT_ID</key>
	<string>talenttracker-b3b35</string>
	<key>STORAGE_BUCKET</key>
	<string>talenttracker-b3b35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478682829293:ios:dab1495b8d3b740a3197e4</string>
</dict>
</plist>